<app-navbar></app-navbar>

<div class="grad1-holder">
  <section class="bg container-fluid">
    <div id="donation-info">
      <div>
        <h3 class="detail-title">DONATION FROM OUT SIDE INDIA ARE NOT ACCEPTED.</h3>
        <p style="text-align: center;">This may change in the future.</p>
      </div>

      <div>

        <div id="details">
          <h3 class="detail-title">FOR DONATIONS FROM WITHIN INDIA:</h3>
          <h5>BANK DETAILS:</h5>
          <p>
            Name of the Beneficiary: DR. A.N.S. REGIS FOUNDATION <br>
            Name of the Bank: CORPORATION BANK <br>
            Name of the Branch: KALAIYARKOIL BRANCH <br>
            Account Number: 510101005487321 <br>
            Account Type: CURRENT ACCOUNT <br>
            IFSC Code: CORP 0001827 <br>
          </p>



          <h5 style="margin-top: 2rem;">ADDRESS OF THE BANK:</h5>
          <p>
            2008, ANNAI COMPLEX, FIRST FLOOR, ARULSAMY BUILDING <br>
            MADURAI - THONDI ROAD, <br>
            KALAIYARKOIL, <br>
            SIVAGANGAI - DISTRICT <br>
            PINCODE: 630551 <br>
            TAMILNADU <br>
          </p>

        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
