@import 'src/styles.scss';
.mainTitle {
    overflow: hidden;
    padding: 0;
}

.bg {
    overflow: hidden;
    padding: 0;
    padding-bottom: 3%;
}

#donation-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: white;
}

.detail-title {
  margin: 2rem 0;
}
