@import 'src/styles.scss';
.mainTitle {
    overflow: hidden;
    padding: 0;
}

.bg {
    overflow: hidden;
    padding: 0;
    padding-bottom: 3%;
}

.donation {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}