@import 'src/styles.scss';
.mainTitle {
    overflow: hidden;
    padding: 0;
}

.bg {
    background-color: steelblue;
    overflow: hidden;
    padding: 0;
    padding-bottom: 11%;
}

.donation {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}