@use 'sass:list';
@import 'src/styles.scss';

$textColor: list.nth($themeColors, 6);
.footer {
  background-color: list.nth($themeColors, 2);
  overflow: hidden;
  padding: 0px;
}

.social-text {
  color: $textColor;
  text-align: center;
  margin-top: 1%;
}

.social {
  text-align: center;
}
// ICONS***********************************************

.social-icons {
  margin: 1% 0% 1% 0%;
}

$buttonDm : 50px;
.social-button {
  border: 0px solid;
  border-radius: $buttonDm / 2;
  width: $buttonDm;
  height: $buttonDm;
  
  margin-right: $buttonDm/10;
}

.btn-facebook {
  background-color: #3b579d;
  color: white;
}

.btn-twitter {
  background-color: #2caae1;
  color: white;
}

.btn-envelope {
  background-color: rgb(240, 76, 47);
  color: white;
}

.btn-phone {
  background-color: seagreen;
  color: white;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-envelope:hover,
.btn-envelope:focus {
  background-color: rgb(179, 50, 28);
  color: white;
}

.btn-phone:hover,
.btn-phone:focus {
  background-color: rgb(17, 110, 58);
  color: white;
}
// ICONS***********************************************

.break-info {
  padding-bottom: 10px;
  text-align: center;
}

.adr-break {
  margin-top: 5%;
  border-top: 1px solid $textColor;
}

.adr-text {
  color: $textColor;
}

.break-contacts {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.break-contact {
  text-decoration: none;
  color: $textColor;
  width: 20%;
}
