@use 'sass:list';
@use 'sass:color';
@import 'src/styles.scss';

.section-container {
    overflow: hidden;
    padding: 0%;
}

.mainTitle {
    color: list.nth($themeColors, 4);
    animation: fade 1s linear 0s 1 forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.landing-image {
    width: 100%;
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
}

.image-holder {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 45vw;
    width: 100%;

    background: mix(rgb(0, 0, 0), rgba(255, 255, 255, 0), 25%);
    animation: img-fade 1s linear 0s 1 forwards;
}

@keyframes img-fade {
    0% {
        background: rgba(255, 255, 255, 0);
    }

    100% {
        background: mix(rgb(0, 0, 0), rgba(255, 255, 255, 0), 45%);
    }
}