@use 'sass:list';
@use 'sass:color';
@import 'src/styles.scss';

.image-holder {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.regis-img {
    height: 680px;
}