@use 'sass:list';
@use 'sass:color';
@import 'src/styles.scss';

.main-container {
    background-color: black;
    background-image: radial-gradient(80vh 100vh ellipse at 50% 50%, rgba(255, 255, 255, 0) 15%, black 50%), url("src/assets/RegisPics/Regis1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    display: block;
    text-align: center;

    height: calc(100vh);
    width: 100%;
}

.text-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.break {
    background-color: black;
    border-top: 1px solid white;
    margin: 0;
}

// Carousel/Gallery
.gal-container {
    position: relative;
    background-color: black;
    padding-bottom: 10%;
    padding-top: 10%;
}
.gallery-wrapper {
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    //border: 1px solid green;
    background: grey;
}

.gallery {
    background-color: black;
    width: 300vw;
    display: flex;
    flex-flow: row nowrap;

    //border: 1px solid red;

    transition: transform 0.5s ease-in-out;
}

.gal-item {
    //border: 1px solid blue;
    height: 50vh;
    width: 98.9vw;
    text-align: center;

    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.button {
    position: absolute;
    border: 0px solid;
    background-color: transparent;
    color: list.nth($themeColors, 1);
    font-size: 50px;
    z-index: 10;

    transition: color 0.25s ease-in-out;
}

.button:hover,.button:active {
    color: list.nth($themeColors, 2);
}
.button:focus {
    outline: 0;
}

.next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gal-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    background-color: transparent;
    color: list.nth($themeColors, 2);

    border: 0px solid;
    margin-left: 5px;
    margin-right: 5px;

    transition: all 0.5s ease-in-out;
}

.dot.selected {
    color: list.nth($themeColors, 4);
}

.dot:focus {
    outline: 0;
}
