@use 'sass:list';
@use 'sass:color';
@import "src/styles.scss";

h1 {
    color: $mainTextColor;
}

h5 {
    color:list.nth($themeColors, 4);
}

.foundation-timeline {
    padding-bottom: 10%;
}

.statements-section, .time-section {
    background-color: list.nth($themeColors, 1);
    overflow: hidden;
}

.statements-section {
    height: 100%;
    padding-top: 13%;
    padding-bottom: 13%;
}
.statements-row {
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.statement:hover {
    transform: scale(1.1, 1.1);
}

.statement-title {
    color: list.nth($themeColors, 4);
}

[data-aos="statement"] {
    opacity: 0;
    transform: opacity, 1s;

    &.aos-animate {
        opacity: 1;
    }
}

.time-section {
    padding : 0;
}

.timeline {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

$lineColor: list.nth($themeColors, 2);
.timeline::after {
    content: '';
    position: absolute;
    height: 105%;
    width: 6px;
    left: 50%;
    bottom: 0;
    margin-left: -3px;
    background-image: linear-gradient(to bottom, mix($lineColor, rgba(255, 255, 255, 0), $weight: 0%) 0%, $lineColor 10%, $lineColor 90%, mix($lineColor, rgba(255, 255, 255, 0), $weight: 0%) 100%);
       
}

.event {
    margin-top: 2.5%;
}

.event.left .event-content{
    margin-left: 0;
    margin-right: auto;
    display: flex;
}
.event.right .event-content{
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-flow: row-reverse;
}

.event-content {
    width: 50%;
}

$infoColor: list.nth($themeColors, 4);
.event-info {
    padding: 10px 40px;
}

.event-bubble {
    width: 50%;
    position: relative;
    background-color: $infoColor;
    border-radius: 10px;
    display: flex;
}

.event.left .event-content .event-bubble {
    margin-left: 35%;
    flex-flow: row nowrap;
}

.event.right .event-content .event-bubble {
    margin-right: 35%;
    flex-flow: row-reverse nowrap;
}

$arrowSize: 10px;
.event.left .event-content .event-bubble .arrow {
    margin-left: auto;
    margin-right: -$arrowSize;
    margin-top: 25px;
    
    width: 0; 
    height: 0; 
    border-top: $arrowSize solid transparent;
    border-bottom: $arrowSize solid transparent; 
    border-left:$arrowSize solid $infoColor; 
}
.event.right .event-content .event-bubble .arrow {
    margin-left: -$arrowSize;
    margin-right: auto;
    margin-top: 25px;

    width: 0; 
    height: 0; 
    border-top: $arrowSize solid transparent;
    border-bottom: $arrowSize solid transparent; 
    border-right:$arrowSize solid $infoColor; 
}

.event.left .event-content .circle {
    margin: 25px -12.5px 0 auto;

}
.event.right .event-content .circle {
    margin: 25px auto 0 -12.5px;
}

// .event {
//     border: 1px solid green;
// }

// .event-content {
//     border: 1px solid blue;
// }

// .arrow {
//     border: 1px solid orange;
// }

// .event-bubble {
//     border: 1px solid red;
// }

$circleDm: 25px;
.circle {
    z-index: 1;
    background-color: $lineColor;

    width: $circleDm;
    height: $circleDm;

    border: $circleDm/5 solid $infoColor;
    border-radius: $circleDm/2;
}


.roots-img {
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;

    z-index: 1;

    width: 100%;
    height: 500px;
    object-position: 55% 0%;
    object-fit: cover;


    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 950px) {
    .timeline {
        transform: translateX(15px);
    }
    .timeline::after {
        content: '';
        position: absolute;
        height: 105%;
        width: 6px;
        left: 0%;
        bottom: 0;
        margin-left: -3px;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
        
        
    }

    .event.left .event-content{
        margin-left: 0;
        margin-right: auto;
        display: flex;
        flex-flow: row-reverse;
    }
    .event.right .event-content{
        margin-left: 0;
        margin-right: auto;
        display: flex;
        flex-flow: row-reverse;
    }

    .event-content {
        width: 75%;
        margin-bottom: 10%;
    }

    .event-info {
        padding: 10px 40px;
        width: 100%;
    }

    .event-bubble {
        width: 100%;
        position: relative;
        background-color: $infoColor;
        border-radius: 10px;
        display: flex;
    }

    .event.left .event-content .event-bubble {
        margin-right: 0%;
        margin-left: 5%;
        flex-flow: row-reverse nowrap;
    }

    .event.right .event-content .event-bubble {
        margin-right: 0%;
        margin-left: 5%;
        flex-flow: row-reverse nowrap;
    }

    $arrowSize: 10px;
    .event.left .event-content .event-bubble .arrow {
        margin-left: -$arrowSize * 2;
        margin-right: 0;
        margin-top: 5%;

        width: 0; 
        height: 0; 
        border-top: $arrowSize solid transparent;
        border-bottom: $arrowSize solid transparent; 
        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid $infoColor; 
    }
    .event.right .event-content .event-bubble .arrow {
        margin-left: -$arrowSize * 2;
        margin-right: auto;
        margin-top: 5%;

        width: 0; 
        height: 0; 
        border-top: $arrowSize solid transparent;
        border-bottom: $arrowSize solid transparent; 
        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid $infoColor; 
    }

    .event.left .event-content .circle {
        margin: 5% 0 0 0;
        margin-right: auto;
        margin-left: -12.5px;

    }
    .event.right .event-content .circle {
        margin: 5% auto 0 -12.5px;
    }

    .roots-img {
        margin-right: auto;
        margin-left: 0;
        margin-top: -12.5%;
    
        z-index: -1;
    
        width: 100%;
        height: 500px;
        object-position: 50% 0%;
        object-fit: cover;
    
    
        mask-image: linear-gradient(to bottom, rgb(255, 0, 0, 0), rgb(243, 192, 126, 1), rgb(243, 192, 126, 1), rgb(243, 192, 126, 1), rgb(243, 192, 126, 0));
    }

}