<app-navbar></app-navbar>
<div class="grad1-holder">
    <div class="extra-holder">
        <img class="headshot" src={{headshot}} alt="">
        <div class="facts-holder">
            <dl class="facts">
                <dt>Name</dt>
                <dd>Arockia Nathan Siluvai Regis</dd>
                <dt>Birth</dt>
                <dd>March 12th, 1961</dd>
                <dt>Education</dt>
                <dd>Stanley Medical College<br>MBBS</dd>
                <dt>Death</dt>
                <dd>December 18th, 1992</dd>
            </dl>
        </div>
    </div>
    <div class="text-holder">
        <h1 class="title">Dr. A.N.S. Regis <span id="bio-word">Biography</span></h1>
        <blockquote class="quote">
            "It may be that those who do most, dream most"
            <footer>- Stephen Leacock</footer>
        </blockquote>

        <hr class="break">

        <h3 class="topic">A Humble Beginning</h3>
        <p class="info">
            Born on 12th March 1961, Dr. A.N.S. Regis grew up with the scents and tradition of Thuvarlankanmoi,
            a village in Sivagangai–District of TamilNadu. He is the fourth son of Mr. VS. Amalorpavam,
            a school Teacher, and Mrs. A. Sebastiammal, a farmer and home maker.
        </p>
        <h3 class="topic">Education</h3>
        <p class="info">
            He had his primary education at Holy Cross Anglo Indian School, Tuticorin.
            He continued his high school studies at St. Mary’s High School, Madurai.
            Subsequently he pursued his pre-university studies at St. Joseph’s College, Tiruchirappalli.
            Then he moved to Loyola College, Chennai to do his graduation in Zoology.
            It is also said that a willing heart forever seeks newer horizon.
            When he entered the second year of graduation he obtained his MBBS admission at Stanley Medical College,
            Chennai.
            He successfully completed his MBBS in 1987.
        </p>
        <h3 class="topic">The Dream</h3>
        <p class="info">
            Dr. A.N.S. Regis was the first doctor from the remote rural part of Sivagangai.
            This was a DREAM COME TRUE to his parents, grandparents and his brothers and sisters.
            He began his work as a part time duty doctor in a couple of private hospitals in Chennai.
            But his purpose-driven life focussed on a mission to reach out to people and make quality treatment
            available to all.
            He worked relentlessly towards building this dream into a reality.
        </p>
        <p class="info">
            So he started his own consultation clinic in Sidco Nagar, Villivakkam, Chennai, which is predominantly a
            working-class area.
            He made it a 24 hours clinic.
            His dream was to expand it gradually into a PEOPLE’S HOSPITAL where quality treatment would be available to
            the common man.
        </p>
        <h3 class="topic">Inspiration</h3>
        <p class="info">
            Dr. A.N.S. Regis was encouraged by people who were aligned to his purpose.
            Dr. J. Amalorpavanathan, the then Reader in Vascular Surgery, Madras Medical College and Vascular surgeon,
            Government General Hospital, Chennai,
            was his friend and mentor who guided him to shine in his practice and provided support to courageously face
            the initial takeoff period.
            Regis was also fortunate to associate himself with Veteran Chest Physician and peace Activist Dr. CN.
            Deivanayagam, Chennai.
            Regis drew inspiration from these two illustrious doctors in terms of dedication to the medical profession
            and simultaneously upholding human values.
        </p>
        <p class="info">
            As days passed by, he gained experience and shined in his practice, reaching out to many number of patients
            especially from the working class and poor families.
            His benevolence and empathy healed them greatly. He loved all those he came across in his life. He could
            make time to read books.
            He liked and took inspiration and insight from books on the world of Zen.
            He had great admiration for Dr. Norman Bathune, a Canadian physician who was best known for his services in
            world war 1,the Spanish civil war, and above all for selfless work in war-torn china.
            He was the first to introduce the mobile blood bank to the battle field. Dr. Regis’ altruistic and benignant
            nature touched many.
        </p>
        <h3 class="topic">Legacy</h3>
        <p class="info">
            The greatness of Dr. Regis was in his simplicity and kindness which has left an indelible footprint on his
            patients, friends and the family.
            In the short span of his life he had touched the lives of many. Soft spoken and well mannered, he was liked
            by his patients, friends and family members.
            He had a firm decision to serve the ordinary people. His consultation fee was very nominal.
            Minting money was not on his agenda. He could accommodate the differently-abled people.
            He manifested it by training Nagavelu, a differently-abled person and employed him in his clinic to take
            care of all non-clinical tasks.
            Love and concern were his nature. The essence of his goodness is perpetual and continues to inspire us.
        </p>
        <h3 class="topic">Tragedy</h3>
        <p class="info">
            Some gifts are transient. On the 18th of December 1992 Regis met with a road accident and breathed his last
            at KMC hospital, Chennai. He was just 31.
        </p>
        <h3 class="topic">A Way Forward</h3>
        <p class="info">
            We care for those who believe they can, to dream, to persevere, to grow and empower.
            Money should never come in between a spirited mind and the dream. Dr. A.N.S. REGIS FOUNDATION seeks to nurture
            the spirits of such young minds with dreams to make a difference in people’s life.
            Through this humble initiative we pay our tribute to the loving memories of Regis and carry forward the
            precious values he lived for.
        </p>
    </div>
</div>
<app-footer></app-footer>