<app-navbar></app-navbar>
<section class="bg container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mainTitle display-1 text-center">{{title}}</h1>
        </div>
    </div>
</section>
<section class="bg container-fluid">
    <div class="row">
        <div *ngFor="let trustee of trustees" class="col-md-4 col-sm-12">
            <div class="member-card">
                <div class="image-holder">
                    <img src={{trustee.image_path}} alt="team member" class="pfp">

                    <div class="hover-cover">
                        <p class="cover-description">{{trustee.description}}</p>
                    </div>
                </div>

                <div class="primary-description">
                    <h5 class="name">{{trustee.name}}</h5>
                    <span class="team-role">{{trustee.role}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>