@import 'src/styles.scss';
h1 {
    color: $mainColor;
}

.bg {
    background-color: #394c5e;
}

.image {
    max-width: 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.pfp {
    width: 100%;
}

.member-card {
    box-sizing: border-box;
}