<app-navbar></app-navbar>
<div class="grad1-holder">
    
    <section class="bg container-fluid">
        <h1 class="mainTitle main-1 text-center" data-aos="fade-up">{{title}}</h1>
        <div class="role-filters" data-aos="fade-right">
            <button *ngFor="let roleFilter of roleFilters" class="filter-button" id={{roleFilter.id}} (click)="filterRole(roleFilter.filter)">{{roleFilter.displayName}}</button>
        </div>
        <div class="row">
            <div *ngFor="let member of filteredMembers; index as i" class="col-lg-3 col-md-6 col-sm-12 member">
                <div class="member-card">
                    <button [ngClass]="{'des-toggle': true, 'reveal': member.isRevealed}" (click)="toggleDes(i)"><i class="fas fa-plus-circle"></i></button>
                    <div [ngClass]="{'image-holder': true, 'reveal': member.isRevealed}">
                        <img src={{member.image_path}} alt="{{defaultPNG}}" class="pfp">

                        <div class="hover-cover">
                            <p class="cover-description">{{member.description}}</p>
                        </div>
                    </div>

                    <div class="primary-description">
                        <h5 class="name">{{member.name}}</h5>
                        <span class="team-role">{{member.role}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>