@use 'sass:list';
@import 'src/styles.scss';


$navColor: list.nth($themeColors, 2);
.bar, .main-item, .link-holder {
    background-color: $navColor;
}

.navbar-text, .nav-link {
    color: $mainTextColor2;
}

.navbar-text {
    line-height: normal;
}

.nav-logo {
    max-width: 50px;
    height: auto;

    border: 0.1rem solid white;
    margin-left: 0.25rem;
}

.navbar-text {
    margin-left: 10px;
    margin-right: 0px;
}

.main-item {
    display: flex;
}

$min_height: 60px;
.bar {

    overflow: hidden;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;


    z-index: 500;
}

.toggler {
    background-color: transparent;
    justify-self: flex-end;
    display: none;
    border: 0px;
    outline: 0;

    transition: transform 0.25s ease-in-out;

    &.selected {
        transform: rotate(90deg);
    }
}

.fa-bars {
    color: list.nth($themeColors, 4);
}

.link-holder {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

$animate: all 0.2s ease-in-out;
.nav-item {
    height: $min_height;
    margin-right: 0;
    margin-left: 0;
    background-color: $navColor;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .nav-link {
        position: relative;
        text-align: center;
        transition: $animate;

        &:before,&:after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0px;
            height: 3px;

            
            transition: $animate;
            transition-duration: 0.25s;
            opacity: 0;
            background-color: list.nth($themeColors, 1);
        }

        // Type of UNDERLINE margin
        &:before {
            left: 50%;
        }

        &:after {
            right: 50%
        }
    }

    &:hover {
        cursor: pointer;
        .nav-link {
            // Type of underline anim
            &:before, &:after {
                width: 40%;
                opacity: 1;
                background-color: list.nth($themeColors, 4);
            }
        }
    }
}

@media screen and(max-width: 900px){
    .bar {
        min-height: $min_height;
        display: block;
    }

    .main-item {
        width: 100%;
    }

    .link-holder {
        width: 100%;
        display: none;
    }

    .toggler {
        display: block;
        margin-left: auto;
        margin-right: 10px;
    }
}

@media screen and(min-width: 900px){
    .nav-logo {
        max-width: 50px;
        height: auto;
    }
    
    .navbar-text {
        margin-left: 10px;
        margin-right: 0px;
    }
    
    .main-item {
        display: flex;
    }
    
    .bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: sticky;
        top: 0;
    
        display: flex;
        align-items: center;
    }
    
    .toggler {
        background-color: transparent;
        justify-self: flex-end;
        display: none;
    }
    
    .link-holder {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    .nav-item {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and(max-width: 400px){
    .main-item {
        display: block;
    }

    .navbar-brand {
        width: 100%;
    }

    .toggler {
        width: 100%;
    }
}