@import 'src/styles.scss';

$height: 45rem;
.divBG {
    background-size: cover;
    height: $height;
    opacity: 0.8;
}

.mainTitle {
    color:$mainColor;
}

#mainContent {
    padding-top: 10rem;
}