@import 'src/styles.scss';
.mainTitle {
    color: $mainColor;
    overflow: hidden;
    padding: 0;
}

.bg {
    background-color: steelblue;
    overflow: hidden;
    padding: 0;
    padding-bottom: 11%;
}